* {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee Inline', cursive;
}

body{
  background-color: white;
  text-align: center;
}
.navigationlogo img{
width: 100px;
height: 50px;
}
.nav{
  display: flex;
  justify-content: space-around;
}
.container .nav {
  background-color: #f0863b;
    height: 48px;
    line-height: 50px;
  }


  /* .container .lienhe{
    background-color: #e1772c;
    height: 170px;
    
  } */
  

  .container .MOON-CAKE{
    font-size: xx-large;
    text-align: center;
  }
  
  .container .nav a {
    color: #fff;
    padding: 10px;
    height: 48px;
    line-height: 50px;
  }


  
/* .nav .navigation-text a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    height: 48px;
    line-height: 50px;
  } */
  #home {
    width: 1200px;
    margin: auto;
    
  }
  
  .img-box {
    width: 100%;
    background-color: #fff;
    box-shadow: 6px 5px 6px 6px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    padding: 1rem;
    color: #030303;
    height: fit-content;
    
    
  }
   .img-box2{
    width: 100%;
    height: 100%;
    
    
   }
  
  .img {
    width: 100%;
  }
  
  .margin-top {
    margin-top: 30px;
  }
  
  .title {
    font-size: xx-large;
    text-align: center;
  }

  .title-product{
    font-size: 350%;
    text-align: center;
  }
  
  
  #members .box-member {
    display: flex;
    justify-content: space-around;
  }
  
  .box{
    width: 400px;
    /* background-color: #fff; */
    border-radius: 12px;
    padding: 3.5rem;
    color: #030303;
    height: fit-content;
  }
  
  #members .box-member .img-box {
    width: 25%;
  }
  button {
    width: 35%;
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 5px 0px;
    margin: 10px 0px 25px 0px;
    background-color: #f3904f;
    cursor: pointer;
    
  
  }

.img-cake{
  height: 100%;
}

body{
  
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.img-cake{
  height: 200px;
}
.img-cake img{
   width: 100%;
   height: 100%;
}
.text{
  padding-top: 0px;
}

/* .contact-us{
  display: flex;
  background-color: #e1772c;
    height: 270px;
    line-height: 50px;
    justify-content: space-around;
    text-align: left;
} */

.container .box .text-box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 12vh;
  width: 100%;
}

.container .box {
  width: px;
  border-radius: 12px;
  padding: 1rem;
  color: #030303;
  height: fit-content;
}

input {
  width: 300%;
  font-size: 30px;
  
}
.text{
  font-size: medium;
}

.ngang{
  display: flex;
}
.text-box{
  text-align: center;
}

.nav-cuoi{
  background-color: #f0863b;
    height: 400px;
    
    

    
}

.text-cuoi{
  display: flex;
  justify-content: space-around;
}
.text2{
  text-align: left;
  
}
.container-gioithieu{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  width: 100%;
   
}
.container-gioithieu .box-gioithieu{
  width: 1000px;
    background-color: #fff;
    box-shadow: 6px 5px 6px 6px rgba(0, 0, 0, 0.16);
    border-radius: 60px;
    padding: 7rem;
    color: #030303;
    height: fit-content;
    justify-content: space-around;
}
.title-product{
  font-size: 350%;
  text-align: center;
}
.title {
  font-size: xx-large;
  text-align: center;
}
.loigioithieu{
  font-size: xx-large;
}
.nguoilam{
  font-size: 80%;
  text-align: right;
}
.text-box button:hover{
  background-color: #030303;

}


.dotrangchi{
  font-size: 250%;
    text-align: center;
}
